.test{
    border-radius: 50%;
    margin: 15px auto;
    display: block;
    border: solid 5px white;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.bg-cv{
    background-color: rgb(117, 179, 255);
}